body {
    /* background-color: #EDEDE9; */
    font-family: 'Open Sans', sans-serif;
    background: url(../images/work-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-weight: 300;
}

section {
    width: 100%;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 80px;
    margin-bottom: 0;
}

h2 {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
}

h3 {
    font-family: 'La Belle Aurore', cursive;
    padding: 10px;
    padding-top: 25px;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

h4 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}

p {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

a {
    color: #b5838d;
    padding-right: 10px;
    text-decoration: none;
}

a:hover {
    color: #78543F;
}

ul {
    margin: 0;
    padding-bottom: 10px;
}

.title {
    font-style: italic;
}

.date {
    float: right;
    font-weight: 500;
}

.location {
    float: right;
    font-weight: 100;
}

/* HEADER - About me */
header {
    text-align: center;
}

.about {
    /* background-color: #D6CCC2; */
    background: rgb(214, 204, 194, 0.9);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    width: 300px;
    margin: 50px;
}
.about p {
    padding-top: 50px;
}

/* EDUCATION */
.education {
    background-color: #D5BDAF;
    overflow: hidden;
}

/* WORK EXPERIENCE */
.work-experience {
    /* background-color: #E3D5CA; */
    background: rgba(227, 213, 202, 0.6);
    overflow: hidden;
}

/* LEADERSHIP EXPERIENCE */
.leadership-experience {
    background-color: #F5EBE0;
    overflow: hidden;
}

/* PROJECTS */
.projects {
    background-color: #D6CCC2;
    background: rgb(214, 204, 194, 0.7);
}

/* SKILLS */
.skills {
    background-color: #d5bdaf;
    margin: 0;
}

.skills > p {
    padding-bottom: 20px;
}

/* FOOTER */
footer {
    background-color: #EDEDE9;
    background: rgb(237, 237, 233, 0.8);
    text-align: center;
    padding: 10px;
}